$primary: #9E320F;
$secondary: #f47308;
$dark: #000;
$light: #fff;
$nav-color: rgb(23 26 29);
$input-box-shadow: #f9b47b;

nav {
	.bg-dark { background-color: $nav-color; }
	.nav-link {
		&:hover { border-bottom: 2px solid $secondary; }
		& .active { border-bottom: 2px solid $secondary; }
	}
}

.secondary-text {
	color: $secondary
}

.dark-text:hover {
	color: $dark !important;
}

button {
	&.btn-dark {
		background-color: $secondary;
		border-color: $secondary;
		border-radius: 0;
	}
}

.primary-text {
	color: $primary;
}

.apply {
	input, textarea, select {
		border-color: $secondary;
		border-radius: 0;
		&:focus { 
			box-shadow: 1px 1px 10px 1px $input-box-shadow;
			border-color: $secondary; 
		}
	}

	.form-check-input {
		&:checked {
			background-color: $secondary;
			border-color: $secondary;
		}
	}
}